<template>
  <h1 class="headline" :class="{ inverted }">{{ titulo }}</h1>
</template>

<script>
export default {
    props: {
        titulo: {
            type: String,
            requeride: true
        },
        inverted: {
            type: Boolean
        }
    }
}
</script>

<style>
    .headline {
        background: black;
        color: white;
    }
    .headline.inverte {
        background: white;
        color: black;
    }
</style>