<template>
    <div>
        <app-contador></app-contador>
        <titulo-da-pagina
            v-for="titulo in titulos"
            :class="{'inverte' : titulo.inverte }"
            :key="titulo.id"
            :titulo="titulo.nome" />
    </div>
</template>

<script>
    import AppContador from './AppContador.vue'
    import TituloDaPagina from './component/Titulo.vue'

    export default {
        components: {
            AppContador,
            TituloDaPagina
        },
        data() {
            return {
                titulos: [
                    { id: 1, nome: 'Lista', inverte: true  },
                    { id: 2, nome: 'Outra', inverte: false },
                    { id: 3, nome: 'Lista', inverte: true },
                    { id: 4, nome: 'Outra', inverte: false }
                ]
            }
        }
    }
</script>

<style>

</style>